.navbar{
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: var(--navbarHeight);
    background-color: white;
    padding: 0 2em;
    border-bottom: 1px solid lightgrey;
}

.navbarLeft, .navbarCenter, .navbarRight{
    width: 100%;
    height: 100%;
    display: flex;
}

.navbarLeft {
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 1em;
}

.navbarCenter {
    align-items: center;
    justify-content: center;
}

.navbarRight {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 5px;
}

.navbarRight > * {
    margin: 0 10px;
}

.active {
    color: grey;
    opacity: 0.8;
    cursor: default;
}

.logout {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;

    transition: all 0.3s ease;
}

.logout:hover {
    color: red;
    box-shadow: 0px 0px 5px red;
}