.cartBackground {
  position: fixed;
  top: var(--navbarHeight);
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: black;
}

.cartBackgroundOpen{
  animation: fadeIn 0.3s ease-in forwards;
}

.cartBackgroundClose{
  animation: fadeOut 0.3s ease-in forwards;
}

.cartContainer {
  position: relative;
  margin: 0 !important;
  flex-shrink: 0;
}

.cart {
  border: 2px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom-left-radius: 10px;
  background: white;
  position: fixed;
  top: var(--navbarHeight);
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;

  transform: scale(0);
  transform-origin: top right;
  transition: width 0.1s ease-in;
}

@media (min-width: 500px) {
  .cart {
    width: 60vw
  }
}

@media (min-width: 800px) {
  .cart {
    width: 40vw
  }
}

@media (min-width: 1000px) {
  .cart {
    width: 30vw
  }
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 1px solid darkgray;
}

.cart .checkout {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 0;
}

.notOpenedEver {
  opacity: 0;
}

.cartOpened {
  animation: expand 0.3s ease-in-out forwards;
}

.cartClosed {
  animation: collapse 0.3s ease-in-out forwards;
}

.cartCount {
  position: absolute;
  top: -0.4em;
  right: -1em;
  color: black;
  width: 1.6em;
  height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  word-break: keep-all;
}

.cartCountAnimation {
  animation: smallExpand 0.3s ease-in-out forwards;
}

@keyframes smallExpand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes expand {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes collapse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
    opacity: 0.3;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 0.3;
  }
  1% {
    display: block;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
