.videoBlock{
    position: relative;
    display: flex;
    min-height: calc(100vh - 3rem);
}

.videoContainer {
    background-color: var(--color-medium-gray);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: filter .2s linear;
    width: 100%;
}

.video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.productListContainer{
    position: relative;
}