.videoBlock{
    position: relative;
    display: flex;
    min-height: calc(100vh - var(--navbarHeight));
}

.videoContainer {
    background-color: var(--color-medium-gray);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: filter .2s linear;
    width: 100%;
}

.video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.contentBlock {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentBlock h2 {
    font-family: "Canela Deck Regular", serif;
    font-weight: 400;
    font-size: 3.75rem;
    margin: 1.75rem 0 1rem;
    color: white;
}

.productListContainer{
    position: relative;
}

.loadMoreContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1em;
}

.loadMore {
    padding: 1em 2em;
    text-align: center;
    width: 80%;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    scale: 1;

    transition: all 0.3s ease-in-out;
}

.loadMore:hover {
    background-color: rgb(22, 22, 22);
    scale: 1.05;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loadMore:active {
    background-color: rgb(33, 33, 33);
    scale: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.downArrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0;

    animation: fadeAndMove 6s infinite;
}

@keyframes fadeAndMove {
    0% {
        opacity: 0;
        transform: translateY(-20px) translateX(-50%);
    }
    20% {
        opacity: 70%;
        transform: translateY(-20px) translateX(-50%);
    }
    40% {
        opacity: 70%;
        transform: translateY(0) translateX(-50%);
    }
    60% {
        opacity: 0;
        transform: translateY(0) translateX(-50%);
    }
    80% {
        opacity: 0;
        transform: translateY(0) translateX(-50%);
    }
    100% {
        opacity: 0;
        transform: translateY(0) translateX(-50%);
    }
}