.main {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;

  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.imageContainer img {
  width: 100%;
  scroll-snap-align: center;
  flex-shrink: 0;
}

.infoContainer {
  word-break: break-word;
}

.addToCartBtn {
  width: 100%;
  padding: 1em 2em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  scale: 1;
  transition: 0.2s all ease;
}

.addToCartBtn:active {
  background-color: #333;
  scale: 0.9;
}

@media (min-width: 650px) {
  .main {
    flex-direction: row;
  
    position: relative;
  }
  
  .imageContainer {
    width: 50%;

    flex-direction: column;
    overflow-y: unset;
    overflow-x: hidden;
    scroll-snap-type: none;
  }
  
  .infoScrollContainer {
    flex: 1 1;
  }
  
  .infoContainer {
    padding: 20px;
    position: sticky;
    top: var(--navbarHeight);
  }
}
