.checkoutContainer{
    min-height: calc(100vh - var(--navbarHeight));
    margin-bottom: 30px;
}

.receiptContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.productList {
    margin: 0;
    padding: 0;
}

.checkoutButton {
    width: 95%;
    padding: 1em 2em;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    margin-bottom: 0.5em;
}

.shippingInfo, .paymentInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 95%;
}

.shippingInfo input, .paymentInfo input {
    width: 100%;
    padding: 0.2em 0.5em;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 1em;
}

.divContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 0.2em;
}

.checkedOut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--navbarHeight));
}

@media (min-width: 500px) {
    .receiptContainer {
        width: 80%;
    }

    .checkoutButton {
        width: 80%;
    }

    .shippingInfo, .paymentInfo {
        width: 80%;
    }

    .shippingInfo input, .paymentInfo input {
        padding: 1em 2em;
        font-size: 1.2em;
    }

    .divContainer {
        gap: 1em;
    }
}